# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

# Source
src/
.travis.yml
tsconfig.json
tslint.json
webpack.config.js

# Dependency directories
node_modules/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# Misc
.DS_Store
.vscode/
yarn.lock
.gitignore